* {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
}
/* banner styles */
.banner {
  background-image: url(images/banner/banner1.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: right;
  padding-top: 250px;
  padding-right: 300px;
  height: 750px;
}
.banner-title {
  font-size: 75px;
  font-weight: 900;
}
.subtitle {
  color: darkmagenta;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.btn-primary {
  border: 0;
  border-radius: 5px;
  color: #fff;
  padding: 20px 25px;
  background-color: orangered;
}
/* main styles */
/* failure styles */
main {
  /* max-width: 1000px; */
  margin: 0 400px;
}
.failure {
  display: flex;
  align-items: center;
  gap: 40px;
}
.description {
  margin-top: 40px;
  margin-bottom: 20px;
}
/* my plans styles */
.my-plans {
  text-align: center;
}
.my-plans h1 {
  margin-top: 200px;
  margin-bottom: 70px;
}
.my-plans-items {
  display: flex;
  justify-content: center;
  gap: 30px;
}
/* inspiration styles */
.inspiration {
  display: flex;
  align-items: center;
}
/* mindset styles */
.mindset {
  background-image: url(images/gradient1.png), url(images/watch.png);
  padding: 40px 40px;
  margin: 40px 0;
}
/* footer styles */
footer {
  color: #fff;
  display: flex;
  background-color: black;
}
